<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Functional AngularJS • TodoMVC</title>
    <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
  </head>

  <body ng-app="todomvc" ng-controller="TodoCtrl as ctrl">
    <pre>{{ ctrl.state }}</pre>
    <pre>{{ ctrl.form }}</pre>
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        <input id="new-todo" 
               placeholder="What needs to be done?"
               ng-model="ctrl.form.newTodo"
               ng-keypress="ctrl.addTodo($event, ctrl.form, ctrl.state)"
               autofocus>
      </header>
      <!-- This section should be hidden by default and shown when there are todos -->
      <section id="main" ng-if="ctrl.hasTodos(ctrl.state)">
        <input id="toggle-all" 
               type="checkbox" 
               ng-model="ctrl.areAllCompleted(ctrl.state)"
               ng-click="ctrl.toggleAllCompleted(ctrl.state)">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
          <!-- These are here just to show the structure of the list items -->
          <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
          <li ng-repeat="todo in ctrl.form.todos" ng-class="{ completed: todo.completed }">
            <div class="view">
              <input class="toggle" type="checkbox" ng-model="todo.completed" ng-click="ctrl.toggleCompleted($index, ctrl.state)">
              <label>{{ todo.title }}</label>
              <button class="destroy" ng-click="ctrl.removeTodo($index, ctrl.state)"></button>
            </div>
            <input class="edit" value="Create a TodoMVC template">
          </li>
        </ul>
      </section>
      <!-- This footer should hidden by default and shown when there are todos -->
      <footer id="footer" ng-if="ctrl.hasTodos(ctrl.state)">
        <!-- This should be `0 items left` by default -->
        <span id="todo-count"><strong>{{ ctrl.itemsLeft(ctrl.state) }}</strong>{{ ctrl.makePhrase(ctrl.state) }}</span>
        <!-- Remove this if you don't implement routing -->
        <ul id="filters">
          <li>
            <a class="selected" href="#/">All</a>
          </li>
          <li>
            <a href="#/active">Active</a>
          </li>
          <li>
            <a href="#/completed">Completed</a>
          </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        <button id="clear-completed" ng-click="ctrl.clearCompleted(ctrl.state)"></button>
      </footer>
    </section>
    <footer id="info">
      <p>Double-click to edit a todo</p>
      <p>Created by <a href="https://github.com/lucasmreis/">Lucas Reis</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
    <!-- Scripts here. Don't remove ↓ -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/ramda/dist/ramda.min.js"></script>
    <script src="node_modules/todomvc-common/base.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services/stateService.js"></script>
    <script src="js/services/todoStateService.js"></script>
    <script src="js/services/todoService.js"></script>
    <script src="js/controllers/todoController.js"></script>
  </body>
</html>
